	<div class="footer">
      <p class="text-center">&copy; 2017 | Budget Analysis Application</p>
      <p class="text-center">Developed by: Efekemo Eguonoghene</p>
  </div>

    <!--Scripts-->
  <script type="text/javascript" src="/js/app.js"></script>