<head>
      <title>Budget Analysis Application | Dashboard</title>
      

      <link rel="shortcut icon" type="image/jpeg" href="img/budget.jpg" sizes="16x16 32x32 64x64">
      <link rel="apple-touch-icon" sizes="120x120" href="img/budget.jpg">
      <script src="lib/jquery/dist/jquery.min.js"></script>   

      <link type="text/css" rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap-theme.min.css">
      <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
      
      
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

      <script src="js/app.js"></script>
            
      </script>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<% include partials/nav %>

<div class = "container">
<div><p>Welcome <%= user.firstName%></p></div>
<div><p>Balance: <%= balance%></p></div>
    <div class = "row">
        <div class= "col-lg-4">
            <div class = "well">
                <h4 class="card-title"><a href="/income">Income</a></h4>
                <p class="card-text"><%= income%></p>
                <button type="button" data-target="#myModal" data-toggle ="modal" class="btn btn-primary">Tap to add income</button>
            </div>
        </div>
        <div class= "col-md-4">
            <div class = "well">
                <h4 class="card-title"><a href="/expense">Expenses</a></h4>
                <p class="card-text"><%= expense%></p>
                <button type="button" data-target="#expensesModal" data-toggle ="modal" class="btn btn-primary">Tap to input expenses</button>
            </div>
        </div>
        <div class= "col-md-4">
            <div class = "well">
                <h4 class="card-title">Budget</h4>
                <p class="card-text">Some quick example text</p>
                <button type="button" data-target="#budgetModal" data-toggle ="modal" class="btn btn-primary">Tap to set budgets</button>
            </div>
        </div>
    </div>
    <!--Income Modal-->
    <div id = "myModal" class="modal fade"  role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Income</h4>
                </div>
                <div class="modal-body">
                    <form method = "post" action = "/income">
                        <div class= "form-group">
                            <label for="incomeAmount">Amount</label>
                            <input type= "number"class="form-control" name="amount" placeholder="Enter Income Amount" required autofocus>
                        </div>
                        <div class= "form-group">
                            <label for="description">Description</label>
                            <input type= "text"class="form-control" name= "description"placeholder="Enter Income Description" required autofocus>
                        </div>
                        <div class= "form-group">
                        <label for="Incometype">Income Type</label>
                        <select class="form-control" id="incometype" name="incometype">
                            <option>Award</option>
                            <option>Gift</option>
                            <option>Investment</option>
                            <option>Salary</option>
                            <option>Others</option>
                        </select>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary" id= "saveIncome">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Expenses Modal-->
    <div id = "expensesModal" class="modal fade"  role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Expenses</h4>
                </div>
                <div class="modal-body">
                    <form method = "post" action = "/expense">
                        <div class= "form-group">
                            <label for="expenseAmount">Amount</label>
                            <input type= "number"class="form-control" name="expenseamount" placeholder="Enter Expense Amount" required autofocus>
                        </div>
                        <div class= "form-group">
                            <label for="description">Description</label>
                            <input type= "text"class="form-control" name= "expensedescription"placeholder="Enter Expense Description" required autofocus>
                        </div>
                        <div class= "form-group">
                        <label for="Expensetype">Expense Type</label>
                        <select class="form-control" id="expenses" name="expensetype">
                            <option>Clothing</option>
                            <option>Education</option>
                            <option>Entertainment</option>
                            <option>Food and Drink</option>
                            <option>Health</option>
                            <option>Home</option>
                            <option>Payments</option>
                            <option>Transportation</option>
                        </select>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary" id="saveExpense">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Budget Modal-->
    <div id = "budgetModal" class="modal fade"  role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Budget</h4>
                </div>
                <div class="modal-body">
                    <form method = "post" action = "/budget">
                        <div class= "form-group">
                            <label for="budgetAmount">Amount</label>
                            <input type= "number"class="form-control" name="budgetamount" placeholder="Enter Budget Amount" required autofocus>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary" id = "saveBudget">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class = "row">
        <div class = "col-lg-6">
            <div id="chart" style="width: 500px; height:300px;"></div>
        </div>
        <div class = "col-lg-6">
            <div id="expensechart" style="width: 500px; height:300px;"></div>
        </div>
    </div>
        <br>
        <br>
    <div class = "row">
        <div class = "col-lg-6">
            <div id="barchartIncome" style="width: 500px; height:300px;"></div>
        </div>
        <div class = "col-lg-6">
            <div id="barchartExpense" style="width: 500px; height:300px;"></div>
        </div>
    </div>
</div>
